body{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.authentication-page{
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.workbook-grid{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 100px 0px;
    margin: auto;
    .card{
        cursor: pointer;
    }
}

.project-grid {
    display: flex;
    padding: 30px 7px;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;

    .nav-tabs {
        display: flex;
        width: 100%;
        background-color: #f6f6f6 !important;

        .nav-item {
            min-width: 65px;
            color: #5e5e5e !important;
            background-color: #f6f6f6 !important;
            border-left: none;
            border-right: 1px solid #e6e7e9 !important;
            border-radius: 0px !important;
            border-top: 2px solid transparent !important;
            border-bottom: 2px solid transparent !important;
            white-space: nowrap;
            font-size: 13px;

        }

        .active {
            background: white !important;
        }
    }
    .embedded-project{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

